* {
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}
.nav-link:hover {
  text-decoration: underline;
}
.opening-jumbotron {
  margin-top: -2em;
   background-image: linear-gradient(to right, rgb(62,183,215), #8BD3F8, #8BF8F7, );
}
.opening-row {
  margin-top: 9em;
  color: white;
}

  .opening-header,
  .opening-p,
  .opening-btn {
    position: relative;
    -webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    // -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
    animation-name: fade;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-duration: 1.5s;
  }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade {
  0%   {background-color:red; left: 300; top:0px;}
   50%  {background-color:blue; left:200px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes fade {
  0%   {left: -200px; top:0px;}

  100% {left: 0px; top:0px;}
}







.opening-img {
  height: 35em;
  margin: -2em 0 0 4em;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
  animation-name: example;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  animation-direction: reverse;
  // animation-delay: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:300px; top:0px;}
   50%  {background-color:blue; left:200px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {left:0px; top:0px;}

  100% {left:200px; top:0px;}
}





.opening-btn {
  margin-top: 1em;
  font-size: 24px;
}


.product-content {
  margin-top: 3.5em;
  p {
    color: gray;
    font-size: 15px;
    text-align: left;
    padding-bottom: .7em;
  }
}

.identity-container {
  background-color: #DCDCDC;
  h1{
    font-weight: 200;
    font-size: 50px;
    padding-top: 2em;
  }
  h3 {
    font-weight: 200;
    font-size: 30px;
    margin: 1.5em 0 2em 0;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3em;
}
.card {
  border: 1px solid lightgray;
  margin-bottom: 1em;
  background-color: white;
  width: 40em;
  height: 20em;
  min-height: 15em;

  h1 {
    color: darken(lightblue, 40%);
    margin: -1.5em 0 .5em 0;
  }
  li {
    text-align: left;
    font-size: 17px;
    color: gray;
    font-weight: 300;
    padding-left: 1.2em;
    list-style-type: none;
  }
  li::before {
    content: '-'
  }
}
.steps-container {
  // border: 2px dotted red;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -2.5em;
  // height: 20em;
  min-height: 20em;
  background-color: #DCDCDC;
}
.step {
  // background-color: white;
  width: 24em;
  height: 16em;
  display: flex;
  h1 {
    width: 1em;
    margin-right: .5em;
    font-size: 44px;
  }
}
.icon {
  font-size: 44px;
  margin-top: .4em;
}
.technology-container {
  background-image: linear-gradient(to right, #8BC8F8, #37A4FB, #18478C);

  h1 {

    color: white;
    font-size: 65px;
    margin-top: 1em;
  }
  h3 {

    color: white;
    margin-bottom: 2em;
  }
  p {
    text-align: left;
    font-weight: lighter;
    color: white;
    margin-bottom: .7em;
    line-height: 2;
  }
}

.vision-container {


  background-image: linear-gradient(to left, #8BD0F8, #8BA1F8, #8B8BF8);
}
.vision-content {

  margin-top: 4em;
  h1 {
    color: white;
    font-size: 70px;
  }
  h3 {
    color: white;
    font-size: 40px;
  }
  p {
    color: white;
    margin-top: 2em;
    line-height: 1.7;
    text-align: left;
    font-weight: lighter;
  }
}

.vision-back-img {
// border: 2px dotted blue;
  height: 400px;
  width: 400px;
  display: relative;
  bottom: 200px;
  margin: 12em 0 0 -3em;
}
.vision-front-img {
// border: 2px dotted blue;
  height: 600px;
  width: 600px;
  position: relative;
  left: -50px;
  bottom: 480px;
}

.FAQ-container {
  // border: 2px dotted red;
  background-color: yellow;
  display: absolute;
  margin-top: -5em;
}
.vision-col-2 {
  // border: 2px dotted green;
  max-height: 670px;
}
.faq-header {
  font-weight: 200;
  font-size: 50px;

}
.panel-container {
  text-align: left;
  width: 96%;
  margin: auto;
  margin-bottom: 2em;

}
.about-container {
  height: 470px;
  background-color: rgb(219, 228, 231);
  h1 {
    // color: white;
    font-size: 50px;
    margin: 1em 0;
  }
  p {
    text-align: left;
    line-height: 2;
  }
  .about-img {
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 5em;
  }
}
.footer {
  height: 200px;
  background-color: blue;
  background-image: linear-gradient(to right, #b9e0e8, #b9cbe8, #c4b9e8);
  font-size: 40px;
  display: flex;

}
.social-icons {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


/*----- MEDIA QUERIES -----*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .product-img {
    margin: auto;
    height: 300px;
    width: 300px;
  }
  .product-content {
    p {
      width: 93%;
      margin: auto;
    }
  }
  .opening-img {
    margin: auto;
    height: 300px;
  }
  .step {
    margin-left: -8em;
  }
  .identity-vid {
    height: 20em;
    width: 27em;
  }
  .technology-img {
    height: 20em;
    width: 27em;
  }
  .vision-content {
    p, h3 {
      width: 94%;
      margin: auto;
    }
  }
  .vision-col-2 {
    display: none;
  }
  .about-container {
    height: 65em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .product-img {
    margin: auto;
    height: 300px;
    width: 300px;
  }
  .product-content {
    p {
      width: 93%;
      margin: auto;
    }
  }
  .opening-img {
    height: 350px;
    margin: auto;
  }
  .identity-vid {
    height: 350px;
    width: 470px;
  }
  .technology-img {
    height: 360px;
    margin-top: 1em;
  }
  .vision-col-2 {
    display: none;
  }
  .about-container {
    height: 60em;
  }
  .vision-content {
    p {
      width: 94%;
      margin: auto;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .technology-img {
    height: 400px;
  }
  .vision-container {
    height: 30em;
  }


  .about-container {
    height: 48em;
    p {
      line-height: 1.5;
    }
  }
  .identity-vid {
    width: 90%;
    height: 30em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .opening-img {
    height: 500px;
  }
  .product-img {
    height: 90vh;
    width: 100%;
    margin-bottom: -1.4em;
  }
  .step {
    flex-basis: 25%;
  }
  .technology-img {
    width: 80%;
    height: 400px;
    margin-top: 4em;
  }
  .technology-container {
      height: 38em;

      h1 {
        margin-top: -.1em;
      }
  }
  .vision-front-img {
    margin-left: 5em;
    height: 550px;
  }
  .vision-col-2 {
    display: inline;
  }
  .vision-container {
    height: 92vh;
  }
  .about-container {
    height: 30em;
  }
.identity-vid {
  width: 60%;
  height: 30em;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
body {
  margin-top: 2em;
}
.technology-container {
  height: 90vh;
  h1 {
    margin-top: 1em;
  }
}

.technology-img {
  width: 45em;
  height: 44em;
  margin: 0 0 0 -7em;

}

.opening-img {
  margin-top: -4em;
  margin-bottom: 1em;
  height: 500px;
  width: 500px;
}
.opening-container {
  padding-bottom: 1em;
}
}


/*----- MEDIA QUERIES -----*/
