* {
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}
.nav-link:hover {
  text-decoration: underline;
}
.opening-jumbotron {
  height: 105vh;
  margin-top: -2em;
  // background-image: linear-gradient(to right, #8BD3F8, rgb(62,183,215));
   background-image: linear-gradient(to right, rgb(62,183,215), #8BD3F8, #8BF8F7, );
  // background-color: rgb(62, 183, 215);
}
.opening-row {
  margin-top: 9em;
  color: white;
}

  .opening-header,
  .opening-p,
  .opening-btn {
    position: relative;
    -webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    // -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
    animation-name: fade;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-duration: 1.5s;
  }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade {
  0%   {background-color:red; left: 300; top:0px;}
   50%  {background-color:blue; left:200px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes fade {
  0%   {left: -200px; top:0px;}

  100% {left: 0px; top:0px;}
}







.opening-img {
  height: 35em;
  margin: -2em 0 0 4em;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
  animation-name: example;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  animation-direction: reverse;
  // animation-delay: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:300px; top:0px;}
   50%  {background-color:blue; left:200px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {left:0px; top:0px;}

  100% {left:200px; top:0px;}
}





.opening-btn {
  margin-top: 1em;
  font-size: 24px;
}


.product-content {
  margin-top: 3.5em;
  p {
    color: gray;
    font-size: 15px;
    text-align: left;
    padding-bottom: .7em;
  }
}
.product-img {
  height: 90vh;
}
.identity-container {
  background-color: #DCDCDC;
  h1{
    font-weight: 200;
    font-size: 50px;
    padding-top: 2em;
  }
  h3 {
    font-weight: 200;
    font-size: 30px;
    margin: 1.5em 0 2em 0;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3em;
}
.card {
  border: 1px solid lightgray;
  margin-bottom: 1em;
  background-color: white;
  width: 40em;
  height: 20em;
  min-height: 15em;

  h1 {
    color: darken(lightblue, 40%);
    margin: -1.5em 0 .5em 0;
  }
  li {
    text-align: left;
    font-size: 17px;
    color: gray;
    font-weight: 300;
    padding-left: 1.2em;
    list-style-type: none;
  }
  li::before {
    content: '-'
  }
}
.steps-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -2.5em;
  // height: 20em;
  min-height: 20em;
  background-color: #DCDCDC;
}
.step {
  // background-color: white;
  width: 24em;
  height: 16em;
  display: flex;
  h1 {
    width: 1em;
    margin-right: .5em;
    font-size: 44px;
  }
}
.icon {
  font-size: 44px;
  margin-top: .4em;
}
.technology-container {
  background-image: linear-gradient(to right, #8BC8F8, #37A4FB, #18478C);
  height: 45em;
  h1 {

    color: white;
    font-size: 65px;
    margin-top: 1em;
  }
  h3 {

    color: white;
    margin-bottom: 2em;
  }
  p {
    text-align: left;
    font-weight: lighter;
    color: white;
    margin-bottom: .7em;
    line-height: 2;
  }
}

.technology-img {
  width: 45em;
  height: 45em;
  margin-left: -7em;
}
.vision-container {

  height: 100vh;
  background-image: linear-gradient(to left, #8BD0F8, #8BA1F8, #8B8BF8);
}
.vision-content {

  margin-top: 4em;
  h1 {
    color: white;
    font-size: 70px;
  }
  h3 {
    color: white;
    font-size: 40px;
  }
  p {
    color: white;
    margin-top: 2em;
    line-height: 1.7;
    text-align: left;
    font-weight: lighter;
  }
}

.vision-back-img {
// border: 2px dotted blue;
  height: 400px;
  width: 400px;
  display: relative;
  bottom: 200px;
  margin: 12em 0 0 -8em;
}
.vision-front-img {
// border: 2px dotted blue;
  height: 600px;
  width: 600px;
  position: relative;
  left: -50px;
  bottom: 480px;
}

.FAQ-container {
  // border: 2px dotted red;
  background-color: yellow;
  display: absolute;
  margin-top: -5em;
}
.vision-col-2 {
  // border: 2px dotted green;
  max-height: 670px;
}

// .testing {
//   background-color: red;
//   height: 400px;
// }

// /*----- MEDIA QUERIES -----*/
//
// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//   body {
//     background-color: blue;
//   }
//   .opening-image {
//     height: 20em;
//     width: 20em;
//     margin: auto;
//     margin-top: 1em;
//     padding-bottom: 3em;
//   }
//   .identity-video {
//     width: 350;
//     height: 250;
//   }
// }
//
// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//   body {
//     background-color: green;
//   }
//   // .opening-image {
//   //   height: 20em;
//   //   width: 20em;
//   //   margin: auto;
//   //   margin-top: 1em;
//   //   padding-bottom: 3em;
//   // }
// }
//
// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//   body {
//     background-color: red;
//   }
//
//
// }
//
// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//   body {
//     background-color: purple;
//   }
//
// }
//
// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
// body {
//   background-color: orange;
// }
//
// }
//
//
// /*----- MEDIA QUERIES -----*/
